@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Nunito', sans-serif;
   
}
.paginate {
    display: flex;
    align-items : center;
    justify-content: end;
}

.paginate li {
    color: #ffffff;
    background-color:rgb(218, 125, 4);
    width: 30px;
    height: 30px;
    border: 1px solid rgb(218, 125, 4);
    margin: 5px;
    display: flex;
    align-items: center ;
    justify-content: center ;
}